//----- BASE
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;900&display=swap');
html {
    box-sizing: border-box;
}

body, button{
    font-family: 'Nunito', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}


$primary-color: #FFEE6B;
$secondary-color: #A6E2E2;
$accent-color: #D9828B;
$second-accent-color: #5C6397;
$off-color: #EDEFEE;
$off-reverse-color: #161512;

$f-thin: 200;
$f-regular: 400;
$f-medium: 600;
$f-bold: 900;
//----- COMPONENTS

//----- LAYOUTS
body {
    overflow: hidden;
    background-color: $off-color;
}

.preload, .initanimation{
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
}

.preload, 
.initanimation__gate-left,
.initanimation__gate-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.preload{
    background-color: $secondary-color;
    .logo-container{
        position: relative;
        &__filter{
            position: absolute;
            top: 17px;
            overflow: hidden;
            width: 100%;
            height: 60px;
            animation: logoAnimationContainer .75s ease infinite alternate;
            svg{
                position: absolute;
                top: 17px;
                animation: logoAnimationFilter .75s ease infinite alternate;
            }
        }
        svg{
            width: Max( 10vw ,60px);
        }
    }
}

.initanimation{
    display: flex;
    &__gate-left,
    &__gate-right{
        height: 100%;
        width: 50%;
        background-color: darken($off-color, 5%);
    }
    &__gate-left{
        justify-content: right;
    }
    &__gate-right{
        justify-content: left;
    }
    &__bg-marquee.--toleft,
    &__bg-marquee.--toright{
        position: absolute;
        opacity: .5;
        transform: rotate(-35deg);
    }
    &__bg-marquee.--toleft{
        top: 0;
        right: 0;
    }
    &__bg-marquee.--toright{
        bottom: 0;
        left: 0;
    }
    p{
        text-transform: uppercase;
        font-weight: $f-bold;
        font-size: Max(5vw ,40px);
    }
}


@keyframes logoAnimationContainer {
    0%   {top: 17px;}
    50%  {top: 80px;}
    100% {top: 140px;}
}

@keyframes logoAnimationFilter {
    0%   {top: -17px;}
    50%  {top: -80px;}
    100% {top: -140px;}
}



// tentative
.board{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    gap: .5rem;
    height: 400px;
    width: 400px;

    &__tile {
        background-color: #ccc;

        &:focus-visible,
        &:focus{
        outline: 1px solid #999;
        border: 1px solid #999;
        }
    }
}
