@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, button {
  font-family: 'Nunito', sans-serif;
}

button {
  cursor: pointer;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
}

.btn-icon {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-icon svg {
  border: 0.25rem solid #161512;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

body {
  overflow: hidden;
  background-color: #EDEFEE;
}

.preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #A6E2E2;
}

.preload .logo-container {
  position: relative;
}

.preload .logo-container > svg {
  opacity: .6;
}

.preload .logo-container__filter {
  position: absolute;
  top: 17px;
  left: auto;
  width: 100%;
  height: 60px;
  overflow: hidden;
  -webkit-animation: logoAnimationContainer .75s ease infinite alternate;
          animation: logoAnimationContainer .75s ease infinite alternate;
}

.preload .logo-container__filter svg {
  position: absolute;
  top: 17px;
  left: auto;
  -webkit-animation: logoAnimationFilter .75s ease infinite alternate;
          animation: logoAnimationFilter .75s ease infinite alternate;
}

.preload .logo-container svg {
  width: Max(8vw, 60px);
}

.initanimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.initanimation__gate-left, .initanimation__gate-right {
  width: 50%;
  height: 100%;
  background-color: #c5cbc8;
  overflow: hidden;
}

.initanimation__gate-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.initanimation__gate-left p {
  color: #FFEE6B;
}

.initanimation__gate-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.initanimation__gate-right p {
  color: #A6E2E2;
}

.initanimation__bg-marquee.--toleft {
  position: absolute;
  top: -50vh;
  left: -12rem;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  opacity: .2;
}

.initanimation__bg-marquee.--toright {
  position: absolute;
  bottom: -50vh;
  right: -12rem;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  opacity: .2;
}

.initanimation p {
  text-transform: uppercase;
  font-weight: 900;
  font-size: Max(5vw, 40px);
}

@-webkit-keyframes logoAnimationContainer {
  0% {
    top: 17px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 140px;
  }
}

@keyframes logoAnimationContainer {
  0% {
    top: 17px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 140px;
  }
}

@-webkit-keyframes logoAnimationFilter {
  0% {
    top: -17px;
  }
  50% {
    top: -80px;
  }
  100% {
    top: -140px;
  }
}

@keyframes logoAnimationFilter {
  0% {
    top: -17px;
  }
  50% {
    top: -80px;
  }
  100% {
    top: -140px;
  }
}

.gamepage {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.gamepage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 Max(5vw, 1rem);
  height: Max(10vh, 80px);
}

.gamepage .nav .header-title {
  text-transform: capitalize;
  font-weight: 800;
  color: #161512;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg__item {
  content: url(../assets/bg-x.png);
  position: absolute;
  width: Max(30vw, 10rem);
  opacity: .3;
}

.bg__item.--o {
  content: url(../assets/bg-o.png);
}

.bg--first {
  top: -23vw;
  left: 15vw;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.bg--second {
  top: 10vh;
  right: -10vw;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.bg--third {
  bottom: -20vw;
  left: -5vw;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  -ms-grid-rows: 33.33% 33.33% 33.33%;
      grid-template-rows: 33.33% 33.33% 33.33%;
  gap: .5rem;
  height: 400px;
  width: 400px;
}

.board__tile {
  background-color: #ccc;
}

.board__tile:focus-visible, .board__tile:focus {
  outline: 1px solid #999;
  border: 1px solid #999;
}
/*# sourceMappingURL=style.css.map */