//----- BASE
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;900&display=swap');
html {
    box-sizing: border-box;
}

body, button{
    font-family: 'Nunito', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}


$primary-color: #FFEE6B;
$secondary-color: #A6E2E2;
$accent-color: #D9828B;
$second-accent-color: #5C6397;
$off-color: #EDEFEE;
$off-reverse-color: #161512;

$f-thin: 200;
$f-regular: 400;
$f-medium: 600;
$f-bold: 900;


@mixin flex($jc: center, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin absolutetopleft($t: 0, $l: 0){
    position: absolute;
    top: $t;
    left: $l;
}
@mixin absolutetopright($t: 0, $r: 0){
    position: absolute;
    top: $t;
    right: $r;
}
@mixin absolutebottomleft($b: 0, $l: 0){
    position: absolute;
    bottom: $b;
    left: $l;
}
@mixin absolutebottomright($b: 0, $r: 0){
    position: absolute;
    bottom: $b;
    right: $r;
}

@mixin wh($w: 100%, $h: 100%){
    width: $w;
    height: $h;
}

//----- COMPONENTS

//----- LAYOUTS
body {
    overflow: hidden;
    background-color: $off-color;
}

.preload{
    @include flex;
    @include absolutetopleft;
    @include wh;
    background-color: $secondary-color;
    .logo-container{
        > svg{
            opacity: .6;
        }
        position: relative;
        &__filter{
            @include absolutetopleft(17px, auto);
            @include wh(100%, 60px);
            overflow: hidden;
            animation: logoAnimationContainer .75s ease infinite alternate;
            svg{
                @include absolutetopleft(17px, auto);
                animation: logoAnimationFilter .75s ease infinite alternate;
            }
        }
        svg{
            width: Max( 8vw ,60px);
        }
    }
}

.initanimation{
    display: flex;
    @include absolutetopleft;
    @include wh;
    &__gate-left,
    &__gate-right{
        @include wh(50%, 100%);
        background-color: darken($off-color, 15%);
    }
    &__gate-left{
        @include flex(right, center);
        p{
            color: $primary-color;
        }
    }
    &__gate-right{
        @include flex(left, center);
        p{
            color: $secondary-color;
        }
    }
    &__bg-marquee.--toleft{
        @include absolutetopleft(-50vh, -12rem);
        transform: rotate(-35deg);
        opacity: .2;
    }
    &__bg-marquee.--toright{
        @include absolutebottomright(-50vh, -12rem);
        transform: rotate(-35deg);
        opacity: .2;
    }
    p{
        text-transform: uppercase;
        font-weight: $f-bold;
        font-size: Max(5vw ,40px);
    }
}

@keyframes logoAnimationContainer {
    0%   {top: 17px;}
    50%  {top: 80px;}
    100% {top: 140px;}
}

@keyframes logoAnimationFilter {
    0%   {top: -17px;}
    50%  {top: -80px;}
    100% {top: -140px;}
}



// tentative
.board{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    gap: .5rem;
    height: 400px;
    width: 400px;

    &__tile {
        background-color: #ccc;

        &:focus-visible,
        &:focus{
        outline: 1px solid #999;
        border: 1px solid #999;
        }
    }
}
